#calendar-section {
  max-width: 90%;
  margin: 0 2rem 0 2rem;
}

h2#fc-dom-1.fc-toolbar-title {
  font-size: 1rem;
}


.calendar {
    max-width: 900px;
    margin: 1em auto;
    font-family: "Open Sans", sans-serif;
    
  }
   
  
  button {
    margin: 0.40rem;
    background-color: #077a54;
    color: white;
    border-radius: 0.30rem;
    cursor: pointer;
    padding: 0.15em  0.35em 0.15em 0.35em
  }
  
  
  :root {
    
    --fc-list-event-dot-width: 10px;
    --fc-list-event-hover-bg-color: #f5f5f5;
    --fc-small-font-size: 1rem;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: hsla(0, 0%, 82%, .3);
    --fc-neutral-text-color: grey;
    --fc-border-color: #ddd;
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #077a54;
    --fc-button-border-color: #1f5c03;
    --fc-button-hover-bg-color: #43c6ac;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #0d77da;
    --fc-button-active-border-color: #151e27;
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, .25);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0, 0%, 84%, .3);
    --fc-bg-event-color: #8edf8281;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, .3);
    --fc-today-bg-color: rgba(120, 245, 182, 0.301);
    --fc-now-indicator-color: red;
    --fc-daygrid-event-dot-width: 8px;
    
  }
  
  @media screen and (max-width: 400px){ 
     .calendar {  
            max-width: 90%;
            margin: 0 auto;
            font-family: "Open Sans", sans-serif;
    }
  }

 
  
  
  
