@import url('./studentHome.css');
@import url('./studentQuiz.css');
@import url('./quizGame.css');
@import url('./teacherAddQuiz.css');
@import url('./studentNavbar.css');
@import url('./teacherAddLessons.css');
@import url('./home.css');
@import url('./viewAllContentTeacher.css');
@import url('./teacherViewMy.css');
@import url('./viewVideo.css');
@import url('./viewMyNotes.css');
@import url('./profilePage.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}