.main-firstPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 1.2rem;
    margin-bottom: 4rem;
}
.main-teacherWrapper, .main-studentWrapper{
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 9px 1.5px #707275;
    transition: 0.9s;
}
.main-teacherWrapper:hover{
    transform: scale(1.1);
}
.main-studentWrapper:hover{
    transform: rotate(360deg);
}
.main-teacherWrapper{
    margin-bottom: 5rem;
    background: linear-gradient(160deg, #43c6ac 0%, #191654 100%);
}
.main-firstPage-link{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-studentWrapper{
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
}
.homePageCompanyName{
    margin-top: 5rem;
    font-size: 2.5rem;
}
.logoImgHome{
    width: 65%;
    margin: 0 auto;
   display: block;
}


@media screen and (min-width: 1100px){
    .logoImgHome{
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .homePageCompanyName{
        margin-top: 2rem;
        font-size: 1.8rem;
    }

    .main-firstPage{
        margin-top: 1rem;
    }
    .main-teacherWrapper{
        margin-bottom: 5rem;
    }
   
}
@media screen and (max-width: 450px){
    .homePageCompanyName{
        margin-top: 3.7rem;
    }
    .main-firstPage-link{
        font-size: 1.8rem;
    }
    .main-teacherWrapper, .main-studentWrapper{
        width: 86%;
    }
}
@media screen and (max-width: 350px){
    .homePageCompanyName{
        font-size: 1.2rem;
        margin-top: 3rem;
    }
    .main-firstPage{
        margin-top: 1rem;
        height: 60vh;
    }
    .main-teacherWrapper, .main-studentWrapper{
        height:170px;
    }
    .main-firstPage-link{
        font-size: 1.3rem;
    }
}