* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: “Open Sans”, sans-serif;
}
.authenFormWrapper {
  width: 600px;
  height: 620px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  background: linear-gradient(90deg, #43c6ac 0%, #191654 100%);
}
.registrationForm {
  background: rgba(20, 40, 40, 0.8);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.6rem 1.2rem;
}
.formName {
  font-weight: 500;
  font-size: 1.3rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0.2);
  color: #fff;
  outline: none;
}
.joinBtn {
  padding: 10px 20px;
  color: #15172b;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  margin: 3.3rem auto;
  display: block;
  border-radius: 10px;
  border: none;
}
.joinBtn:hover:not(:disabled)  {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
.homeBtn{
  padding: 10px 20px;
  color: #15172b;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  margin: 3.3rem auto;
  display: block;
  border-radius: 10px;
}
.homeBtn:hover:not(:disabled)  {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.signInFormwrapper{
  width: 500px;
  height:420px;
}
.signInFormClass{
  padding: 2.3rem 1.2rem 0.6rem;
}

@media screen and (max-width: 630px){
  .authenFormWrapper{
    max-width: 88%;
  }
}

@media screen and (max-width: 542px){
  .authenFormWrapper{
    height: 600px;
  }
  .signInFormwrapper{
    width: 88%;
  }
  .joinBtn{
    margin: 2.3rem auto;
  }
}

@media screen and (max-width: 330px){
  .inputFields{
    max-width: 92%;
  }
}

