
.companyName{
    text-align: center;
    margin-top: 2rem;
    font-size: 1.7rem; 
    background-clip: text;
    text-fill-color:transparent;
    background-image: linear-gradient(90deg, #283c86 0%, #45a247 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-size: 100%;
    background-repeat: repeat;
  
    animation: rainbow-text-simple-animation-rev 0.95s ease forwards;
  }
  .companyName:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  @keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
  }
  @keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
  }
  header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 5%;
    padding-right: 5%;
    color: #fff;
    background: linear-gradient(90deg, #283c86 0%, #45a247 100%);
  }
  .mainLogo{
    margin-right: 1.2rem;
  }
  .left-side{
    display: flex;
    align-items: center;
   
  }
  .navmenu{
    width: 100%;
    height: 66px;
    display:flex;
    align-items: center;
  }
  .navmenu__list{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:60px;
    font-size: 1.4rem;
  }
  .nav-link{
    color: #fff;
    text-decoration: none;
    transition: 0.7s ease;
  }
  .nav-link:hover{
    color:#d1b607;
  }
  .hamburger{
    display:none;
    cursor:pointer;
  }
  .menu-btn{
    width:50px;
    height:50px;
    position:relative;
  }
  
  .bar,  .bar::before, .bar::after{
    position:absolute;
    top:50%;
    margin-top: -1px;
    left:50%;
    margin-left: -10px;
    width:20px;
    height:2px;
    background-color:#fff;
  }
  .bar::before, .bar::after{
    content:'';
    display:block;
    transition: all 0.3s ease-in-out;
  }
  .bar::before{
    transform: translateY(-5px);
  }
  .bar::after{
    transform: translateY(5px);
  }
  .menu-btn_active .bar::before{
    transform: rotate(-35deg);
    width: 10px;
    transform-origin: left bottom;
  }
  
  .menu-btn_active .bar::after{
    transform: rotate(35deg);
    width: 10px;
    transform-origin: left top;
  }
  
  @media screen and (max-width:768px){
    .hamburger{
      display:block;
    }
    .navmenu__list{
      position:fixed;
      left: -100%;
      top:66px;
      flex-direction: column;
      gap:0;
      width:100%;
      height:100vh;
      text-align: center;
      transition: 0.8s;
      background:linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
    }
    .nav-item{
      transition: 0.6 ease;
      width:100%;
    }
    .nav-item:hover{
      background:linear-gradient(90deg, #4ac29a 0%, #bdfff3 100%);
   
      color:#fff;
    }
    .nav-link:hover{
      color:#fff;
    }
    .nav-link{
      padding: 16px 0;
      color:#000;
      min-width:100%;
      display: inline-block;
     font-weight: bold;
    }
    .navmenu__list-active{
      left:0;
      z-index: 100;
    }
   
  }
  