.listOfQuizzes{
    margin: 2rem auto;
    width: 750px;
   
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    box-shadow: 3px 8px 9px 1.5px #D3D3D3;
    min-height: 450px;
  }
  .listOfQuizzes h1{
    padding: 1rem;
    background: linear-gradient(90deg, #43c6ac 0%, #191654 100%);
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 1px 3px 2px #55575a;
    cursor: pointer;
  }
  .quizUnOrdList{
    list-style: none;
    width: 100%;
    text-align: center;
  }
  .quizUnOrdList li{
    /* margin-top: 1rem; */
    cursor:pointer;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
  }
  .quizLink{
    text-decoration: none;
    color: #000;
    width:100%;
  }
  .quizUnOrdList li:hover{
    background: linear-gradient(90deg, #4ac29a 0%, #bdfff3 100%);
  }
  .querieswrapper-teacher{
    justify-content: center;
  }
  .teacherWrapper-query{
    margin-left: 29%;
  }
  .querieswrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
  }
  .queryBox{
    padding: 0 10px 0 10px;
    width:300px;
    height: 42px;
    font-size: 1.2rem;
    color:#fff;
    background: linear-gradient(90deg, #43c6ac 0%, #191654 100%);
    cursor:pointer;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content: center;
    
  }
  .iconQ{
    color:#fff;
    margin-left: 0.1rem;
    margin-left: 1.2rem;
  }
  .dropdownQueries{
    max-height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background:linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
    width: 300px;
    text-align: center;
    position: absolute;
    top: 42px;
    display:none;
  }
 
  .dropdownQueries_active, .dropdownSubjQueries_active, .dropdownTeacherQueries_active{
    display:block;
    z-index: 89;
  }
  .dropdownQueries ul{
    list-style-type: none;
  }
  .queryItem{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor:pointer;
    transition: 0.9s;
  }
  .queryItem:hover{
    background: linear-gradient(90deg, #4ac29a 0%, #bdfff3 100%);
  }
  .yearWrapper-query, .subjwrapper-query, .teacherWrapper-query{
    position:relative;
    max-width: 42%;
  }
  .year{
  font-style: italic;
  }
  @media screen and (min-width: 781px){
    .dropdownQueries{
      top: 61px;
    }
  }

  @media screen and (max-width: 780px){
    .listOfQuizzes{
      width: 90%;
    }
    .dropdownQueries{
      top: 62px;
    }
  }

  @media screen and (max-width: 470px){
    .querieswrapper {
      margin-top: 1.2rem;
      flex-direction: column;
      align-items: center;
    }
    .querieswrapper .subjectWrapper, .querieswrapper .yearWrapper {
      max-width: 80%;
    }
    .dropdownQueries{
      width: 284px;
      z-index: 101;
    }
  }
  @media screen and (max-width: 400px){
    .querieswrapper .subjectWrapper, .querieswrapper .yearWrapper {
      max-width: 82%;
    }
    .dropdownQueries{
      width: 263px;
    }
    .listOfQuizzes h1 {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 360px){
    .listOfQuizzes{
      margin-top: 1.1rem;
    }
    .querieswrapper .subjectWrapper, .querieswrapper .yearWrapper {
      max-width: 82%;
    }
    .querieswrapper {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .dropdownQueries{
      width: 240px;
    }
    .listOfQuizzes h1 {
      font-size: 1.1rem;
    }
    .queryBox{
      font-size: 1rem;
    }
    .quizLink, .year{
      font-size: 0.9rem;
    }
  }
  @media screen and (max-width: 290px){
    .listOfQuizzes h1 {
      font-size: 0.9rem;
      padding: 0.7rem;
    }
    .querieswrapper {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
  }
  .queryBox {
    font-size: 0.8rem;
  }
  .dropdownQueries {
    width: 180px;
  }
  .queryItem{
    font-size: 0.8rem;
  }
  .quizUnOrdList{
    padding-left: 5px;
    padding-right: 7px;
  }
  .quizUnOrdList li{
    padding-top: 0;
  }
  .quizLink, .year {
    font-size: 0.8rem;
  }
  .navmenu {
    height: 56px;
  }

  }