.showMystuffLi{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}
.showMyLink{
    width: 44%;
    text-align: start;
}
.deletemyNoteBtn{
    background: linear-gradient(90deg, #cb2d3e 0%, #ef473a 100%);
    width: 120px;
      height: 45px;
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
      font-size: 18px;
      box-shadow: 0 0 5px 0.5px #D3D3D3;
      border:none;
      transition: 0.3;
}
.deletemyNoteBtn:hover{
    font-weight: 600;
}

.listOfNotes{
    margin: 2rem auto;
    width: 750px;
   
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    box-shadow: 3px 8px 9px 1.5px #D3D3D3;
    min-height: 450px;
  }
  .listOfNotes h1{
    padding: 1rem;
    background: linear-gradient(90deg, #43c6ac 0%, #191654 100%);
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 1px 3px 2px #55575a;
    cursor: pointer;
  }
  .noteUnOrdList{
    list-style: none;
    width: 100%;
    text-align: center;
  }
  .noteUnOrdList li{
    /* margin-top: 1rem; */
    cursor:pointer;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
  }
  .noteLink{
    text-decoration: none;
    color: #000;
    width:100%;
  }
  .noteUnOrdList li:hover{
    background: linear-gradient(90deg, #4ac29a 0%, #bdfff3 100%);
  }

img{
  width: 120px;
  height: auto; 
  display: block; 
  margin: 10px auto;
}

@media screen and (max-width:870px) {
  .listOfNotes{
    width: 80vw;
  }
}
@media screen and (max-width:650px) {
  .listOfNotes{
    width: 90vw;
  }
}

@media screen and (max-width:600px) {
  .deletemyNoteBtn{
    width: 100px;
  }
}
@media screen and (max-width:530px) {
  .deletemyNoteBtn{
    width: 90px;
    font-size: 1rem;
    height:40px;
  }
  .noteFlexWrapper{
    min-width: 68%;
  }
  .noteDescriptionWrapper{
    font-size: 0.9rem;
  }
  .noteDescriptionWrapper .year{
    font-size: 0.9rem;
  }
  .myNotesImg{
    width: 100px;
  }
}
@media screen and (max-width:470px){
  .myNotesImg{
    width: 80px;
    margin-right: 1rem;
  }
}
@media screen and (max-width:429px){
  .myNotesImg{
    width: 70px;
    margin-right: 1rem;
  }
  .deletemyNoteBtn{
    width: 60px;
    font-size: 0.8rem;
    height:35px;
  }
  .listOfNotes h1{
    font-size: 1rem;
  }
  .showMystuffLi{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media screen and (max-width:350px){
  .noteDescriptionWrapper{
    font-size: 0.8rem;
  }
  .noteDescriptionWrapper .year{
    font-size: 0.8rem;
  }
  .myNotesImg{
    width: 70px;
    margin-right: 0.5rem;
  }
}