#delete-button {
  background: linear-gradient(90deg, #cb2d3e 0%, #ef473a 100%);
  width: 200px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  box-shadow: 0 0 5px 0.5px #D3D3D3;
  border: none;
  transition: 0.3s;
  margin-top: 2.5rem;
}
#delete-button:hover {
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);

}

.addLessons-section .singleVideWrapper{
  height: 60vh;
  width: 80vw;
  padding-bottom: 0.8rem;
  border: none;
}
 .singlevideo-title{
 height: 4rem;
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;
 background:linear-gradient(90deg, #43c6ac 0%, #191654 100%);
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
justify-content: center;

  }
 

  .singleVideWrapper .singleVideoDesc-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 3rem;
  }
  .singleVideoDetails{
    display: flex;
  }
  .singleCountViews{
    font-weight: 600;
  }
  .singlevideo-year{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .singleVideoPlayer{
    width: 90%;
  }

.video-list {
  margin-top: 1.5rem;
}
.singleVideo-views{
  display: block
}

.queriesWrapper-videos {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yearsQueryVideo-wrapper,
.teachersQueryVideo-wrapper {
  margin-left: 4rem;
}

.videoDetails-wrapper {
  padding: 2rem;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.video-descrip-wrapper {
  display: flex;
}
.videoDesc-year {
  margin-left: 1rem;
  margin-right: 1rem;
}
.video-titles {
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #033832;
  font-weight: 600;
}
.drop-down-videos {
  width: 170px;
  text-align: center;
  background: #d5fdee;
  border: none;
  box-shadow: 3px 6px 6px 2.5px #d3d3d3;
}
.video-wrapper {
  margin: 2rem auto;
  width: 650px;
  height: auto;
  border: 1px solid #808097;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #808097;
  box-shadow: 3px 6px 6px 2.5px #d3d3d3;
  padding-bottom: 25px;
  padding-top: 25px;
  border: none;
}
.all-videos-title {
  padding: 1rem;
  background: linear-gradient(90deg, #43c6ac 0%, #191654 100%);
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  text-shadow: 1px 3px 2px #55575a;
  cursor: pointer;
}
.video-item {
  margin: 2rem auto;
  width: 650px;
  height: auto;
  border: 1px solid #808097;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #808097;
  box-shadow: 3px 6px 6px 2.5px #d3d3d3;
  padding-bottom: 25px;
}

.displayMyVideo-section {
  margin: 2rem auto;
}
.sortMyVideos-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.subjectDropdownWrapperVideo {
  margin-right: 4rem;
}
.sorryMsg {
  text-align: center;
  margin-top: 1rem;
}
@media screen and (min-width: 1160px){
.addLessons-section .singleVideWrapper{
  max-width: 65vw;
}
}
@media screen and (max-width: 700px) {
  .video-wrapper {
    max-width: 80%;
  }
}
@media screen and (max-width: 675px) {
  .queriesWrapper-videos {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 595px){
  .singleVideoDetails{
    flex-wrap: wrap;
    max-width: 60%;
    gap:10px;
  }
  .singlevideo-title{
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .singleVideWrapper .singleVideoDesc-wrapper{
    margin-top: 2.2rem;
  }
  .addLessons-section .singleVideWrapper{
    height: 55vh;
  }
}
@media screen and (max-width: 540px) {
  .myvideo-wrapper{
    width: 98%;
  }
  .videodescrip-wrapper-extra {
    display: flex;
    flex-direction: column;
  }
  .videodescrip-wrapper-extra .videoDesc-year{
    margin-left: 0;
  }
  #delete-button{
    width: 60%;
    margin-top: 1rem;
  }
  .myvideoDetails-wrapper{
    padding-top: 1rem;
  }

}


@media screen and (max-width: 490px) {
  .teachersQueryVideo-wrapper {
    margin-left: 0;
  }

  .video-wrapper {
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
  .video-descrip-wrapper p {
    font-size: 0.9rem;
  }
  .videoDetails-wrapper p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 461px) {
  .sortMyVideos-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .subjectDropdownWrapperVideo {
    margin-right: 0;
  }
  #delete-button{
    height: 30px;
    width: 50%;
    margin-top: 1rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 458px){
  .singlevideo-year{
    margin-left: 0;
  }
  .singleVideWrapper .singleVideoDesc-wrapper{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
@media screen and (max-width: 420px) {
  .queriesWrapper-videos {
    flex-direction: column;
  }
  .yearsQueryVideo-wrapper {
    margin-left: 0;
  }
  .video-descrip-wrapper {
    flex-wrap: wrap;
    width: 70%;
  }
  video{
    max-width: 94%;
  }
  .video-titles{
    font-size: 0.9rem;
    text-align: center;
  }
  .myvideo-wrapper{
    min-width: 96%;
  }
}
@media screen and (max-width: 420px){
  .singleVideoDetails p, .singleVideo-views{
    font-size: 0.9rem;
  }
}
